---
import Box from '@components/Box.astro';
import { Image } from 'astro:assets';
import Image5275 from '../assets/images/5275.jpg';
import Image5840 from '../assets/images/5840.jpg';
import Image12073 from '../assets/images/12073.jpg';
import Image12802 from '../assets/images/12802.jpg';
import Image19717 from '../assets/images/19717.jpg';
import Image104392 from '../assets/images/104392.jpg';
import Image2149006000 from '../assets/images/2149006000.jpg';
import Image2148851751 from '../assets/images/2148851751.jpg';
---

<section class="p-2.5 grid grid-rows-8 lg:grid-rows-5 grid-cols-1 lg:grid-cols-6 gap-2.5 h-full">
	<Box
		size='large',
		overlayColor='bg-slate-500/75',
		title='About us',
		content='Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tempor sit amet justo et convallis. In interdum quam eget consequat ultrices. Donec iaculis urna at fermentum pellentesque. Pellentesque sed nulla turpis. Lorem ipsum dolor sit amet, consectetur adipiscing elit.',
		link={{
			href: "/about",
			text: "More &rarr;",
		}}
	>
		<Fragment slot="image">
			<Image class="absolute inset-0 h-full w-full object-cover" src={Image5275} alt="About Us box background picture" />
		</Fragment>
	</Box>

	<Box
		size='medium',
		overlayColor='bg-teal-500/75',
		title='Our mission',
		content='Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tempor sit amet justo et convallis. In interdum quam eget consequat ultrices. Donec iaculis urna at fermentum pellentesque. Pellentesque sed nulla turpis. Lorem ipsum dolor sit amet, consectetur adipiscing elit.',
		link={{
			href: "#",
			text: "More &rarr;",
		}}
	>
		<Fragment slot="image">
			<Image class="absolute inset-0 h-full w-full object-cover" src={Image5840} alt="Our Mission box background picture" />
		</Fragment>
	</Box>

	<Box
		size='medium',
		overlayColor='bg-lime-500/75',
		title='Our values',
		content='Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tempor sit amet justo et convallis. In interdum quam eget consequat ultrices. Donec iaculis urna at fermentum pellentesque. Pellentesque sed nulla turpis. Lorem ipsum dolor sit amet, consectetur adipiscing elit.',
		link={{
			href: "#",
			text: "More &rarr;",
		}}
	>
		<Fragment slot="image">
			<Image class="absolute inset-0 h-full w-full object-cover" src={Image12073} alt="Our Values box background picture" />
		</Fragment>
	</Box>

	<Box
		size='small',
		overlayColor='bg-emerald-500/75',
		title='Contact',
		content='Lorem ipsum dolor sit amet, consectetur adipiscing elit.',
		link={{
			href: "#",
			text: "More &rarr;",
		}}
	>
		<Fragment slot="image">
			<Image class="absolute inset-0 h-full w-full object-cover" src={Image12802} alt="Contact box background picture" />
		</Fragment>
	</Box>

	<Box
		size='small',
		overlayColor='bg-sky-500/75',
		title='FAQ',
		content='',
		link={{
			href: "#",
			text: "More &rarr;",
		}}
	>
		<Fragment slot="image">
			<Image class="absolute inset-0 h-full w-full object-cover" src={Image19717} alt="FAQ box background picture" />
		</Fragment>
	</Box>

	<Box
		size='large',
		overlayColor='bg-indigo-500/75',
		title='The team',
		content='Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tempor sit amet justo et convallis. In interdum quam eget consequat ultrices. Donec iaculis urna at fermentum pellentesque. Pellentesque sed nulla turpis. Lorem ipsum dolor sit amet, consectetur adipiscing elit.',
		link={{
			href: "#",
			text: "More &rarr;",
		}}
	>
		<Fragment slot="image">
			<Image class="absolute inset-0 h-full w-full object-cover" src={Image104392} alt="The team box background picture" />
		</Fragment>
	</Box>

	<Box
		size='medium',
		overlayColor='bg-violet-500/75',
		title='Lorem',
		content='Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tempor sit amet justo et convallis. In interdum quam eget consequat ultrices. Donec iaculis urna at fermentum pellentesque. Pellentesque sed nulla turpis. Lorem ipsum dolor sit amet, consectetur adipiscing elit.',
		link={{
			href: "#",
			text: "More &rarr;",
		}}
	>
		<Fragment slot="image">
			<Image class="absolute inset-0 h-full w-full object-cover" src={Image2148851751} alt="Lorem box background picture" />
		</Fragment>
	</Box>

	<Box
		size='medium',
		overlayColor='bg-cyan-500/75',
		content='Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tempor sit amet justo et convallis. In interdum quam eget consequat ultrices. Donec iaculis urna at fermentum pellentesque. Pellentesque sed nulla turpis. Lorem ipsum dolor sit amet, consectetur adipiscing elit.',
		link={{
			href: "#",
			text: "More &rarr;",
		}}
	>
		<Fragment slot="image">
			<Image class="absolute inset-0 h-full w-full object-cover" src={Image2149006000} alt="Box background picture" />
		</Fragment>
	</Box>
</section>